body {
	background: #748057;
	font-family: 'Istok Web', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	width: 960px;
	background-color: grey;
	margin: auto;
}

#main_container {

}

#main_image {
	margin: 80px 340px 25px 340px;*/
}

#main_navigation {
	margin: 40px 340px 500px 340px;
	min-width: 1280px;
}

#main_navigation li{
	list-style: none;
	float: left;
	font-size: 40px;
	font-weight: bold;
	color: #373f24;
	padding: 25px 30px 25px 30px;
	border-left: 1px solid #373f24;
	border-right: 1px solid #373f24;
}

#main_navigation a {
	color: #373f24;
}

#main_navigation li:hover {
	background: #373f24
}

#main_navigation a:hover {
	color: #748057;
}

.page_container {
	width: 960px;
	margin: 0 auto;
}

.page_header {
	min-height: 80px;
	width: 100%;
	background-color: #373f24;
	margin-bottom: 5px;
}

.header_navigation {
	float: left;
	width: 49%;
	height: 100%
}

.header_navigation li {
	list-style: none;
	float: right;
	font-size: 20px;
	color: #748057;
	padding: 25px 20px 25px 20px;
	border-left: 1px solid #748057;
}

.header_navigation li:hover {
	background: #748057;
}

.header_navigation a {
	color: #748057;
}

.header_navigation a:hover {
	color: #373f24;
}

.page_body {
	clear: both;
	/*min-height: 9305px;*/
	width: 100%;
	/*background-color: #373f24;*/
	margin-bottom: 5px;
}

p a {
	color: #373f24;
	font-weight: bold;
}

.page_footer {
	background-color: #373f24;
	clear: both;
}

.page_footer h1 {
	text-align: center;
}

h1 {
	font-size: 50px;
	font-weight: bold;
	color: #748057;
	text-align: left;
	padding: 10px 0 10px 10px;

}

h3 {
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #373f24;
}

.product_details {
	margin: 20px 0 0 20px;
	width: 290px;
	height: 180px;
	border: 1px solid #373f24;
	float: left;
	background: #C2B280;
	border-radius: 0 0 5px 0;
}

.product_details:hover {
	border: 1px solid #748057;
	background: #748057;
	border: 1px solid #373f24;
}

.item_info {
	text-align: right;
}

.item_info img {
	float: left;
	height: 40%;
	width: 40%;
	border-radius: 0 0 5px 0;
}

.item_info p {
	padding-right: 5px;
	padding-top: 10px;
	min-width: 285px;
	font-size: 13px;
}

.category {
	font-weight: bold;
}

/*.footer {
	clear: both;
	margin-top: 5px;
}
*/
.product_page_body {
	width: 100%;
	min-height: 235px;
	margin-top: 5px;
	border: 3px solid #373f24;
	background: #C2B280;
	border-radius: 0 0 5px 0;

}

#product_page_image {
	float: left;
	border-radius: 0 0 5px 0;
}

#product_page_details {
	float: left;
	border-radius: 0 0 5px 0;
	margin: 10px 0 0 10px;
	line-height: 1.5;
	width: 710px;
}

#product_page_details h2 {
	font-weight: bold;
	font-size: 45px;
	border-bottom: 1px solid #373f24;
}

#product_page_details p {
	font-size: 20px;
}